################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.jekyll-cache/Jekyll/Cache
/.vs
/.vscode
/_site
_config.development.yml
jekyll-dev.bat
