.external-link:after {
    content: ' \f08e';
    font-family: 'FontAwesome';
}
.download-link::after {
    content: ' \f019';
    font-family: 'FontAwesome';
}
.word-link::after{
    content: ' \f1c2';
    font-family: 'FontAwesome';
}