@use "sass:color";
@use "colors" as gg;
// -----------------------------------------------------------------------------
// Base font-size
// -----------------------------------------------------------------------------
$font-size : 16;       
$em        : $font-size*1em;


//
.header {
    padding: 6px 0;
}


h1,h2,h3 { font-weight: 600;}

.gg-blockquote {
    background-color: color.adjust(gg.$gg-light-blue,$lightness: 20%);
    border-left: 10px solid gg.$gg-mid-blue;
    margin: 1.5rem 10px;
    padding: 1rem 10px 0.1rem;
}

.text-brownies {
    color: gg.$gg-brownies-brown;
}