// Core Girlguiding colours
// scss-docs-start color-functions
// Tint a color: mix a color with white
@function tint-color($color, $weight) {
    @return mix(white, $color, $weight);
  }
  
  // Shade a color: mix a color with black
  @function shade-color($color, $weight) {
    @return mix(black, $color, $weight);
  }
// blues
$gg-blue: #4e88c7;
$gg-dark-blue: #0072bc;
$gg-dark-blue-hover: shade-color($gg-dark-blue, 15%);
$gg-dark-blue-border-hover: shade-color($gg-dark-blue, 20%);
$gg-dark-blue-active: shade-color($gg-dark-blue, 20%);
$gg-dark-blue-border-active: shade-color($gg-dark-blue, 25%);
$gg-blue-link: #337ab7;
$gg-light-blue: #83abd8;

// pinks
$gg-pink: #c40063;
$gg-light-pink: #f3cce0;
$gg-dark-pink: #cb1f76;
$gg-pink-hover: shade-color($gg-pink, 15%);
$gg-pink-border-hover: shade-color($gg-pink, 20%);
$gg-pink-active: shade-color($gg-pink, 20%);
$gg-pink-border-active: shade-color($gg-pink, 25%);
$gg-pink-border: $gg-light-pink;

// Grays
$gg-gray: #d8d7d7;
$gg-mid-gray: #817777;
$gg-dark-gray: #3a3535;

//
.gg-blue-bg {
    background-color: #{$gg-dark-blue}b3;    
}

.border-primary {
  border-color: $gg-pink !important;
}
.border-secondary {
  border-color: $gg-blue !important;
}
.bg-primary {
  background-color: $gg-pink !important;
}
.bg-secondary {
  background-color: $gg-blue !important;
}
.bg-light-pink {
  background-color: $gg-light-pink !important;
}
.bg-light-blue {
  background-color: $gg-light-blue !important;
}
.border-thick {
  border-width: 3px;
}