// Core Girlguiding colours
// scss-docs-start color-functions
// Tint a color: mix a color with white
@function tint-color($color, $weight) {
    @return mix(white, $color, $weight);
  }
  
  // Shade a color: mix a color with black
  @function shade-color($color, $weight) {
    @return mix(black, $color, $weight);
  }
// blues
$gg-dark-blue: #161b4e;
$gg-mid-blue: #007bc4;
$gg-light-blue: #00a7e5;

$gg-dark-blue-hover: tint-color($gg-dark-blue, 15%);
$gg-dark-blue-border-hover: tint-color($gg-dark-blue, 20%);
$gg-dark-blue-active: shade-color($gg-dark-blue, 20%);
$gg-dark-blue-border-active: shade-color($gg-dark-blue, 25%);

$gg-mid-blue-hover: tint-color($gg-mid-blue, 15%);
$gg-mid-blue-border-hover: tint-color($gg-mid-blue, 20%);
$gg-mid-blue-active: shade-color($gg-mid-blue, 20%);
$gg-mid-blue-border-active: shade-color($gg-mid-blue, 25%);

$gg-blue: $gg-mid-blue;
$gg-blue-link: #337ab7;


:root{
    --gg-dark-blue: #{$gg-dark-blue};
    --gg-mid-blue: #{$gg-mid-blue};
    --gg-light-blue: #{$gg-light-blue};
    --bs-primary:var(--gg-dark-blue);
    --bs-link-color: var(--gg-dark-blue);
    --bs-link-hover-color: var(--gg-mid-blue);
    --bs-primary-rgb: 22,27,78;
    --bs-secondary-rgb: 0,123,196;
    --bs-nav-link-hover-color: #{$gg-light-blue};
    --bs-nav-link-font-size: 1rem;
    --bs-body-font-family: "Poppins","open sans",sans-serif;
    --bs-body-color: #000;
  }

// Grays
$gg-gray: #d8d7d7;
$gg-mid-gray: #817777;
$gg-dark-gray: #3a3535;


.bg-secondary {
  background-color: $gg-mid-blue !important;
}

.bg-light-blue {
  background-color: $gg-light-blue !important;
}
.border-thick {
  border-width: 3px;
}

