$menu-width: 250px;

.gg-viewport {
    position: relative;
}

.gg-logo {
    max-width: 150px;
}

.gg-menu-toggler {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: white;
}

.gg-menu-toggler-text {
    font-size: 0.7rem;
}

.gg-main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    &>li {
        display: block;
        position: relative;
        padding: 0 8px;

        &.has-children>a::after {
            content: "\f107";
            display: inline-block;
            font-family: FontAwesome, sans-serif;
            color: $gg-light-blue;
            padding-left: 5px;
            vertical-align: middle
        }

        a {
            color: #fff;
            font-size: 1.0625rem;
            padding: 5px 0;
            display: block;
            line-height: normal;
            text-decoration: none;
        }
    }

    ul {
        display: none;
        width: auto;
    }
}

.get-involved #getinvolved,
.what-we-do #whatwedo,
.for-volunteers #forvolunteers,
.events #events,
.training #training,
.news #news,
.about-us #aboutus {
    color: var(--gg-light-blue);
}

.gg-search-form {
    padding: .5rem 0;

    .btn {
        --bs-btn-color: var(--gg-light-blue);
        --bs-btn-padding-y: 0;
        --bs-btn-bg: #fff;
        --bs-btn-border-color: #ced4da;
        --bs-btn-border-width: 1px;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: var(--gg-light-blue);
        --bs-btn-hover-border-color: #fff;
        --bs-btn-active-color: #fff;
        --bs-btn-active-border-color: #fff;
        font-size: 1.2rem;
        margin: 0 0.5rem;
        border-left-width: 0;
    }
}

@media (max-width:($grid-lg-min - 1)) {
    .gg-viewport {
        width: 100%;
        overflow-x: hidden;
        max-height: 100%;
        background-color: $gg-dark-blue;
    }

    .gg-sliding-frame {
        margin-right: -#{$menu-width};
        position: relative;
    }

    .gg-content-wrapper {
        margin-left: -#{$menu-width};
        float: left;
        width: 100%;
    }

    .gg-content {
        margin-left: $menu-width;
        background: #fff;
        min-height: 100%;
        position: relative;
    }

    .gg-menu {
        width: $menu-width;
        float: right;
        position: relative;

        .container-md {
            padding-right: 0;
            padding-left: 0;

            .row {
                margin: 0;

                .col {
                    padding: 0;
                }
            }
        }
    }

    .gg-menu-fixed {
        position: fixed;
        width: $menu-width;
        padding-top: 20px;
        overflow-y: scroll;
    }

    .gg-main-nav ul>li.has-children a::after {
        position: absolute;
        right: 0;
        padding: 0 5px;
        color: #fff;
    }

    .gg-main-nav ul>li a {
        border-top: #a5a5a5 1px solid;
    }

    .gg-main-nav ul>li.open>ul {
        display: block;

        >li a {
            font-size: 0.9rem;
            padding: 10px;
            padding-left: 20px;
        }
    }
}

@media (min-width: $grid-lg-min) {
    .gg-menu-toggler {
        display: none;
    }

    .gg-menu {
        position: absolute;
        top: 9px;
        right: 20px;
    }

    .gg-main-nav ul {
        width: 100%;

        ul {
            display: block;
        }
    }

    .gg-main-nav ul>li {
        display: inline-block;

        ul {
            display: none;
        }

        &.has-children {

            &:hover,
            &:focus {
                .gg-blue-menu {
                    display: block;
                    background: var(--bs-white);
                    position: absolute;
                    padding: 5px;
                    border-radius: 0.25rem;
                    border: 1px solid $gg-dark-gray;
                    z-index: 10;

                    li {
                        display: block;
                        padding: 0;

                        a {
                            color: var(--bs-black);
                            font-size: 0.9rem;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                            border-radius: 4px;

                            &:focus,
                            &:hover {
                                background-color: var(--gg-light-blue);
                            }
                        }
                    }
                }
            }
        }
    }


    .gg-search-form {
        margin-top: 60px;
    }
}


@media (min-width: $grid-sm-min) {
    .gg-logo {
        max-width: 100%;
    }


}