---
layout: page-v5
title: Your county team
date: 2016-03-04 11:03:44.000000000 +00:00
toc: about-us
advertId: get-involved
description: >
  The county team is here to support local guiding, as well
  as providing trainings, events, and much more. Find out more about the County
  Team here.
---
<p class="lead">The county team is here to support local guiding, as well as providing training, events and much more.</p>
<p class="lead">The team is led by the county commissioner and 3 assistant county commissioners. </p>
{% include county-directory.html %}
<h2 id="commissioners">County commissioners</h2>
<div class="row justify-content-center row-cols-1 row-cols-lg-2 row-cols-xxl-3 mb-4 mb-xxl-0">
  {% assign cc = site.members | where: "title", "Karin Hunter" | first %}
  {% assign group = cc.groups | first %}
  {% assign role = group.roles | first %}
  {% include county-team-card.html member=cc role=role %}
</div>
<div class="d-none d-xxl-block">
<div class="row my-0 justify-content-center">
  <div class="col text-center my-0 lh-1">
    |
  </div>
</div>
<div class="row my-0 justify-content-center">
  
<hr class="m-0" style="border-top-width: 2px; max-width: 67%; opacity: .5;">
</div>
<div class="row my-0">
  <div class="col text-center my-0 lh-1">
    |
  </div>
  <div class="col text-center my-0 lh-1">
    |
  </div>
  <div class="col text-center my-0 lh-1">
    |
  </div>
</div>
</div>
{% include county-team-section.html group="acc" %}
<p>Contact details for the lead volunteers within the adventure and opportunity, membership support and promote and grow teams can be found on the relevant subpages.</p>
<h2 id="administrators">County administrators</h2>
{% include county-team-section.html group="administrators" %}
<p>For county office opening hours please see the <a href="/contact-us/">contact us page</a></p>
<p>County team vacancies can be found on the <a href="/get-involved/vacancies/#county-team">vacancies webpage</a></p>
<h2>Division commissioners</h2>
<p>Girlguiding Hertfordshire is divided into 10 divisions, each being overseen by either 1, or joint, <a href="divisions/">division commissioner(s)</a> who leads a team of dedicated and skilled volunteers to ensure quality guiding is delivered locally.</p>
<p>With the exception of the flexible division, each division contains many districts which support local units and events.</p>
<p>Division commissioner vacancies can be found on the <a href="/get-involved/vacancies/#division-commissioners">vacancies webpage</a></p>
<h2 id="vp">County vice presidents</h2>
<p>County vice presidents act as ambassadors for Girlguiding in Hertfordshire county.</p>
  {% include county-team-section.html group="vp" %}
<h2 id="trefoil">Trefoil Guild</h2>
<p>Trefoil Guild is a branch of the Guide Association for everyone aged 18+ which is administered independently.</p>
<p>It is a registered charity in its own right, which aims to carry the spirit of guiding into the community.</p>

{% include county-team-section.html group="trefoil" %}
<p>Find more information about <a href="/what-we-do/trefoil/">Trefoil Guild Hertfordshire</a></p>

  <script type="text/javascript" src="/assets/js/county-team-sort.js"></script>