---
layout: page-v5
title: Your County Team
date: 2016-03-04 11:03:44.000000000 +00:00
toc: county-teams
advertId: get-involved
description: >
  The County Team is here to support local guiding, as well
  as providing trainings, events, and much more. Find out more about the County
  Team here.
author:
display_name: GGH-Admin1
---

<p class="lead">The County Team is here to support local guiding, as well as providing training, events, and much more.
</p>

<p>There are currently some vacancies in the county team which are detailed on our <a href="/get-involved/vacancies/"
    target="_blank" rel="noopener">vacancies page</a>. For more information or if you have any other skills that you
  would like to offer, please email <a href="mailto:admin@girlguidinghertfordshire.org.uk" target="_blank"
    rel="noopener">county office</a></p>
    <h2 id="volunteers">Volunteers</h2>
    {% assign volunteers= site.members | where: "is_employee", false %}
<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3">
  {% for member in volunteers %}
  {% include county-team-card.html member=member %}
  {% endfor %}
</div>
<h2 id="employees">
  Employees
</h2>
{% assign employees= site.members | where: "is_employee", true %}
<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3">
  {% for member in employees %}
  {% include county-team-card.html member=member %}
  {% endfor %}
</div>