<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4 bg-secondary text-white p-2">
            <h2 class="h3 fw-bold">Join Amplify, Girlguiding&rsquo;s youth steering group!</h2>
        </div>
        <div class="col-md-8 p-3">
            <h3 class="card-title">National opportunity</h3>
            <p class="card-text">We are excited to announce that Amplify, Girlguiding&rsquo;s youth steering group, are looking for at least 10 more young people to join our returning Amplify members for 2023/2024.</p>
            <p class="card-text">Amplify was set up in July 2022 and are a group who come together virtually once a month to inspire and influence the decisions and projects that are important to girls directly within Girlguiding alongside staff and volunteers.</p>
            <p class="card-text">We&rsquo;re looking for young people from all our counties and regions who represent the diversity of Girlguiding.</p>
            <p class="card-text">Applications now open. Closing 14 May 2023</p>
            <a href="https://www.girlguiding.org.uk/what-we-do/events-and-opportunities/event-and-opportunity-finder/join-amplify-girlguidings-youth-steering-group/" class="external-link btn btn-primary" target="_blank" rel="noopener">Further information and to apply</a>            
        </div>
    </div>
</div>