<div class="card h-100">
    <img src="{{ include.src }}" alt="{{ include.alt }}" loading="lazy" class="card-img-top" />
    <div class="card-body">
    <h3 class="card-title h6">{{ include.title }}</h3>        
    </div>
    {% if include.download %}
    <div class="card-footer"><a href="{{include.download }}" target="_blank" rel="noopener" class="btn btn-primary">Download<span class="visually-hidden"> {{ include.name }}</span><br /> Pack <i class="fa fa-download" aria-hidden="true"></i></a></div>
    {% endif %}
</div>