<div class="row">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>
                {% assign menu = site.data.navigation[page.toc] %}
                {% if menu.url != page.url %}
                <li class="breadcrumb-item"><a class="bread-link" href="{{menu.url}}">{{menu.title}}</a></li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">
                    {{ page.title }}
                </li>
            </ul>
        </nav>
    </div>
</div>