<form action="/about-us/county-centre/#hgcForm" method="post" id="hgcForm">
    <div class="mb-3">
        <label for="name" class="form-label">Your name:*</label>
        <input type="text" name="first-name" id="name" minlength="3" size="40" class="form-control" aria-required="true"
            aria-invalid="false" required />
    </div>
    <div class="mb-3">
        <label for="email_address" class="form-label">Your email address:*</label>
        <input type="email" name="email-address" id="email_address" size="40" class="form-control" aria-required="true"
            aria-invalid="false" required />
    </div>
    <div class="mb-3">
        <label for="phone_number" class="form-label">Phone number:*</label>
        <input type="tel" name="phone-number" id="phone_number" value="" size="40" class="form-control"
            aria-invalid="false" required />
    </div>
    <div class="mb-3">
        <label for="enquiry" class="form-label">Your message:*</label>
        <textarea name="enquiry" id="enquiry" cols="40" rows="10" class="form-control" aria-required="true"
            aria-invalid="false" required></textarea>
    </div>
    <div class="mb-3 d-none">
        <label for="enquirydetail" class="form-label">Detailed message:</label>
        <textarea name="enquirydetail" id="enquirydetail" cols="40" rows="10" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <button class="g-recaptcha submit-btn btn btn-primary" data-sitekey="{{ site.recaptcha.sitekey }}"
            data-action="submit" data-callback="onSubmit">Send message</button>
    </div>
</form>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    var baseUrl = '{{site.email.base_url}}', apikey = encodeURIComponent('{{ site.email.apikey }}');
</script>