<table class="table">
  <thead>
    <tr class="table-gg-light-blue">
      <th scope="col">Bedroom</th>
      <th scope="col">Sleeps</th>
      <th scope="col">Note</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lea</td>
      <td>10</td>
      <td>Adjoining sink</td>
    </tr>
    <tr>
      <td>Colne</td>
      <td>6</td>
      <td>Spacious room, fire door</td>
    </tr>
    <tr>
      <td>Mimram</td>
      <td>4</td>
      <td>Next to shower room (might be preferable as a leader room)</td>
    </tr>
    <tr>
      <td>Ver</td>
      <td>4</td>
      <td>Small room (original leader room)</td>
    </tr>
    <tr>
      <td>Beane</td>
      <td>3</td>
      <td>Hoist and en-suite accessible shower room</td>
    </tr>
  </tbody>
</table>
