<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4 bg-primary text-white text-center p-2">
            <img src="/assets/images/2023/09/ggulster-lorne.webp" class="img-fluid" alt="Girlguiding Ulster - Lorne Estate">
        </div>
        <div class="col-md-8 p-3">
            <h3 class="card-title">Lorne Estate exclusive offer</h3>
            <p class="card-text">Girlguiding Ulster have a 4-night package special offer at Lorne Estate exclusively for Girlguiding members.</p>

            <p class="card-text">There are various options available, camping, glamping and indoor accommodation. You can find full details of the packages available and an information guide to help you plan your stay below.</p>

            <p class="card-text">Lorne is a great base for anyone wanting to explore Northern Ireland.</p>

            <p class="card-text">Visit the <a href="https://discoverlorne.org.uk/" class="external-link" rel="noopener" target="_blank">Lorne Estate</a> website to find out more about the site. </p>
<div><a href="/assets/docs/2023/lorne-estate-information-guide.pdf" class="btn btn-primary download-link">Lorne Estate information guide</a> <a
                    href="/assets/docs/2023/lorne-estate-exclusive-offer-2024-25.pdf"
                    class="btn btn-primary download-link">Exclusive offers details</a></div>
            <p class="card-text">If you are interested in booking, please contact Girlguiding Ulster on <a href="tel:02890425212">028 9042 5212</a> ext 1 or email <a href="mailto:info@girlguidingulster.org.uk">info@girlguidingulster.org.uk</a>.</p>

            
        </div>
    </div>
</div>