<div class="alert mb-3 alert-info">
    <div class="row g-0">
        <div class="col-md-12 p-3">
            <h2 class="card-title">International selection day - applications now open</h2>
            <p class="card-text">Our young members who will be aged 12-17 in July/August 2025 can now apply to attend the International Selection Day for county international trips in 2025.  The Selection Day is taking place on <strong>Saturday 1 June 2024</strong> in <strong>St Albans.</strong></p>

            <p class="card-text">More details and how to apply can be found on the <a href="/event/international-selection/">Events page</a></p>
        </div>
    </div>
</div>