<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4 bg-secondary text-white p-2">
            <img src="/assets/images/2023/05/gold.webp" class="img-fluid" alt="Guiding Overseas Linked with Development">
        </div>
        <div class="col-md-8 p-3">
            <h3 class="card-title">GOLD 2024 - Applications now open</h3>
            <p class="card-text">There are three kinds of projects available for 2024:</p>
            <ol>
                <li>Face-to-face ones, which will involve travelling with one's team to the partner country, to work with their members for three weeks.</li>
                <li>Virtual ones, which will involve with collaborating with partners around the world, to deliver between 10 and 20 hours of content, over a three-month period.</li>
                <li>A UK-based project, in collaboration with the Greek Girlguiding Association, which will see the team travel around the UK, with the Greek team and enable them to help bring the excitement of GOLD and international Guiding to more UK members than ever before.</li>
            </ol>
            <p class="card-text">It is envisaged that the overseas projects will cost in the region of £3,000 - £3,500, while virtual projects are likely to be between £400 and £450. The price of the UK-based project is yet to be decided. In each case, the cost will cover all travel, food and accommodation for briefing and debriefing weekends, and all project costs.</p>
            <p class="card-text">Applicants must be aged 18 by 1 February 2024 and under 30 by the end of October 2024, and able to attend the following:</p>
            <ul>
                <li>Go for GOLD Weekend in Edinburgh on 29 September - 1 October 2023 and, if selected</li>
                <li>First briefing, 16 -18 February 2024</li>
                <li>Second briefing, 19-21 April 2024</li>
                <li>First debrief, 6 - 8 September 2024</li>
                <li>Second debrief, 4 - 6 October 2024</li>
            </ul>
            <a href="https://www.girlguiding.org.uk/what-we-do/international-adventures/gold/" class="external-link btn btn-primary" target="_blank" rel="noopener">Find out more and apply for GOLD 2024</a>   
            <p class="card-text">Closing date for applications is <strong>Sunday 4 June</strong></p> 
            <p class="card-text"><strong>Please note: there will be no GOLD projects, in 2025.</strong></p>  
            <p class="card-text"><strong>GOLD will be taking a year off, prior to a relaunch, in 2026, to enable Girlguiding to redesign the scheme, to ensure it better meets the needs of both Girlguiding UK</strong> and our partners around the world.  If you are getting close to the cut-off age you may want to consider applying now.</p>      
        </div>
    </div>
</div>
