<div class="card mb-3">
    <div class="row g-0 bg-secondary justify-content-md-center">
        
        <div class="col-md-8 p-3 bg-white my-3">
            <h3 class="card-title">International selection day</h3>
            <p class="card-text">Applications are being accepted for the international selection day for the <strong>2024 Essex Jamboree,</strong> taking place on Saturday 7 October in Hemel Hempstead from 10am &ndash; 2pm.</p>
            
            <p class="card-text">More details and how to apply can be found on the <a href="/event/essex-international-jamboree-selection-day/">international selection day</a> event page.</p>
            <p class="card-text">Please contact <a href="mailto:international@girlguidinghertfordshire.org.uk">international@girlguidinghertfordshire.org.uk</a> with any queries.</p>
                 
        </div>
    </div>
</div>
