{% assign menu = site.data.navigation[page.toc] %}
<nav aria-label="Platinum Jubilee navigation" class="gg-jubilee-nav gg-left-menu">
    <h2><a href="{{ menu.url }}">{{ menu.title }}</a></h2>
    <ul class="pagination">
        {% for item in menu.items %}
        {% assign linkClass="page-item" %}{% if item.url==page.url %}{% assign linkClass="page-item
        active"%}{% endif %}
        <li class="{{ linkClass }}"><a href="{{ item.url}}" class="page-link" {%if item.url==page.url %}
                aria-current="page" {% endif %}><span class="d-md-none">{{ item.short_title
                    }}</span><span class="d-none d-md-inline">{{ item.title }}</span></a></li>
        {% endfor %}
    </ul>
</nav>