<nav class="gg-left-menu" aria-label="Site navigation">
    <h2><a href="{{ menu.url }}">{{ menu.title }}</a></h2>
    <ul class="nav flex-column">
        {% assign navtree="" %}
        {% for level1 in menu.items %}
            {% if level1.url == page.url %}
            {% assign navtree=level1.url %}
            {% endif %}
            {% for level2 in level1.items %}
                {% if level2.url == page.url %}
                {% assign navtree = level1.url | append: "|" | append: level2.url %}
                {% endif %}
                {% for level3 in level3.items %}
                    {% if level3.url == page.url %}
                    {% assign navtree = level1.url | append: "|" | append: level2.url | append: "|" | append: level3.url %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        {% assign navtree = navtree | split: "|" %}
    {% for level1 in menu.items %}
    {% assign linkClass="nav-link" %}{% if level1.url==page.url %}{% assign linkClass="nav-link active"%}{% endif %}
    <li class="nav-item"><a href="{{ level1.url}}" class="{{ linkClass }}"{%if level1.url==page.url %} aria-current="page"{% endif %}>{{ level1.title }}</a>
        {% if level1.items and navtree contains level1.url %}<ul>
        {% for level2 in level1.items %}
        <li>{% assign linkClass="nav-link" %}{% if level2.url == page.url %}{% assign linkClass="nav-link active"%}{% endif %}
            <a href="{{ level2.url}}" class="{{linkClass}}"{%if level2.url==page.url %} aria-current="page"{% endif %}>{{ level2.title }}</a>
            {% if level2.items and navtree contains level2.url %}<ul>
                {% for level3 in level2.items %}
                <li>{% assign linkClass="nav-link" %}{% if level3.url == page.url %}{% assign linkClass="nav-link active"%}{% endif %}
                    <a href="{{ level3.url }}" class="{{ linkClass}}"{%if level3.url==page.url %} aria-current="page"{% endif %}>{{ level3.title }}</a>
                </li>
                {% endfor %}
            </ul>{% endif %}
        </li>{% endfor %} </ul>{% endif %}</li>
    {% endfor %}
    </ul>

    {% if page.advertId != '' %}
    {% for advert in site.adverts %}
        {% if advert.advertId == page.advertId %}
            <a href="{{ advert.advert_url }}">
                <div class="promo-block">
                    <div class="promo-description">
                        <h3>{{ advert.advert_title }}</h3>
                        <p>{{ advert.advert_description }}</p>
                    </div>
                </div>                            
            </a>
            {% break %}
        {% endif %}
    {% endfor %}
{% endif %}
</nav>