<nav class="gg-main-nav">
    <div class="container-xxl">
        <div class="row">
            <div class="col">
                <ul>
            {% for item in site.data.navigation["main"].items %}
            {% assign menu= site.data.navigation[item.id] %}
            {% unless menu.items.size%}
            <li><a href="{{ menu.url }}" class="nav-link" id="{{ menu.title | slugify | camelcase | replace: "-",""}}">{{ menu.title }}</a>
            {% else %}
            <li class="has-children"><a href="{{ menu.url }}" id="{{ menu.title | slugify | camelcase | replace: "-",""}}" >{{ menu.title }}</a>
            <ul class="gg-blue-menu" aria-labelledby="{{ menu.title |slugify | camelcase | replace: "-",""}}">
                {% for submenu in menu.items %}
                    <li><a href="{{ submenu.url }}" class="dropdown-item">{{ submenu.title }}</a></li>
                {% endfor %}
            </ul></li>{% endunless %}
            {% endfor %}
            <li class="d-lg-none d-xxl-inline-block my-2 my-md-0"><a href="https://forms.office.com/pages/responsepage.aspx?id=3yob_CzTykeMNWNnWM6OwWD1qHUtWO5Aip3HqVte2p9URUlTVkozSFZGUEM3MDlGWVJCS1EyNDMwTCQlQCN0PWcu&route=shorturl" class="external-link btn btn-primary px-2 me-2 mx-lg-0" target="_blank" rel="noopener">Share your story</a></li>
            <li class="d-lg-none d-xl-inline-block"><a href="https://www.easyfundraising.org.uk/causes/girlguiding-hertfordshire-guide-centre/" class="external-link btn btn-outline-white px-2 mx-lg-0" target="_blank" rel="noopener">Donate</a></li>
        </ul>
            </div>
        </div>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
    </div>
</nav>