<nav class="gg-main-nav">
    <div class="container-md">
        <div class="row">
            <div class="col">
                <ul>
            {% for item in site.data.navigation["main"].items %}
            {% assign menu= site.data.navigation[item.id] %}
            {% unless menu.items.size%}
            <li><a href="{{ menu.url }}" class="nav-link" id="{{ menu.title | slugify | camelcase | replace: "-",""}}">{{ menu.title }}</a>
            {% else %}
            <li class="has-children"><a href="{{ menu.url }}" id="{{ menu.title | slugify | camelcase | replace: "-",""}}" >{{ menu.title }}</a>
            <ul class="gg-blue-menu" aria-labelledby="{{ menu.title |slugify | camelcase | replace: "-",""}}">
                {% for submenu in menu.items %}
                    <li><a href="{{ submenu.url }}" class="dropdown-item">{{ submenu.title }}</a></li>
                {% endfor %}
            </ul></li>{% endunless %}
            {% endfor %}
            <li><a href="https://www.gofundme.com/f/hertfordshire-guide-centre-refurbishment" class="external-link btn btn-outline-white px-2">Donate</a></li>
        </ul>
            </div>
        </div>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
    </div>
</nav>