{% capture start %}
{{ include.start }}
{% endcapture %}
<div class="row row-cols-2 row-cols-lg-4">
    {% for post in site.posts limit:8 %}
    <div class="col mb-3">
        <div class="card gg-news-footer h-100">
            <img loading="lazy" src="{{ post.image }}" alt="" class="card-img-top" />
            <div class="card-body">
                <h3 class="card-title">{{ post.title }}</h3>
                <time class="card-text">{{ post.date | date_to_string: "ordinal","GB" }}</time>
                <p class="card-text">{{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 15 | escape }}</p>
                
            </div>
            <div class="card-footer bg-transparent text-center pb-3"><a class="btn btn-primary stretched-link" href="{{ post.url }}">Read more<span class="sr-only">: {{
                        post.title
                        }}</span></a></div>
        </div>
    </div>
    {% endfor %}


</div>