{% capture start %}
{{ include.start }}
{% endcapture %}
<div class="row">
    <div class="col-md-6 mb-4">
        {% for post in site.posts limit:1 offset: start %}
        <div class="news-post">
            <h3><a href="{{ post.url }}">
                    {{ post.title }}</a></h3>
            <time>{{ post.date | date_to_string: "ordinal","GB" }}</time>
            <div class="image-block text-center">
                <a href="{{ post.url }}">
                    <img loading="lazy" src="{{ post.image }}" alt="" />
                </a>
            </div>
            <p>{{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 30 | escape | markdownify }}</p>
            <div class="text-right"><a class="btn btn-secondary" href="{{ post.url }}">Read more<span class="sr-only">: {{
                        post.title }}</span></a></div>
            
        </div>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <div class="row">
            {% for post in site.posts limit:4 offset: continue %}
            <div class="col-6">
                <article class="news-post">
                    <div class="post-block">
                        <h3><a class="" href="{{ post.url }}">{{ post.title }}</a></h3>
                        <time>{{ post.date | date_to_string: "ordinal","GB" }}</time>
                        <div class="image-block">
                            <a class="" href="{{ post.url }}">
                                <img loading="lazy" src="{{ post.image }}" alt="" />
                            </a>
                        </div>
                        <p>{{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 15 | escape }}</p>
                        <a class="link" href="{{ post.url }}">Read more<span class="sr-only">: {{ post.title
                                }}</span></a>
                    </div>
                </article>
            </div>
            {% endfor %}

        </div>
    </div>
</div>