{% capture start %}
{{ include.start }}
{% endcapture %}
<div class="row">
    <div class="col-sm-6">
        {% for post in site.posts limit:1 offset: start  %}
    <div class="future-post">
    <div class="line"></div>
    <h3><a class="" href="{{ post.url }}">
    {{ post.title }}</a></h3>
    <date>{{ post.date | date_to_string: "ordinal","GB" }}</date>
    <div class="image-block">
    <div class="clip-wrap">
    
    <a class="" href="{{ post.url }}">
    <img src="{{ post.image }}" alt=""/>
    </a> </div></div>
    <div class="future-content">
    {{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 30 | escape | markdownify }}
    <a class="btn btn-pink" href="{{ post.url }}"><span>Read more<span class="sr-only">: {{ post.title }}</span></span></a> </div>
    </div>
    {% endfor %}
    </div>
    <div class="col-sm-6">
    <div class="row">
    <div class="col-sm-6">
    <article class="news-post">
        {% for post in site.posts limit:2 offset: continue  %}
        <div class="post-block">
            <div class="line"></div>
            <h3><a class="" href="{{ post.url }}">{{ post.title }}</a></h3>
            <date>{{ post.date | date_to_string: "ordinal","GB" }}</date>
            <div class="image-block">
                <div class="clip-wrap">
                
                <a class="" href="{{ post.url }}">
                    <img src="{{ post.image }}" alt=""/>
                </a>
                </div>
                </div>
            {{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 15 | escape }}
            <a class="link" href="{{ post.url }}">Read more<span class="sr-only">: {{ post.title }}</span></a>
        </div>
        {% endfor %}        
    </article>
    </div>
    <div class="col-sm-6">
    <article class="news-post">
        {% for post in site.posts limit:2 offset: continue  %}
        <div class="post-block">
            <div class="line"></div>
            <h3><a class="" href="{{ post.url }}">{{ post.title }}</a></h3>
            <date>{{ post.date | date_to_string: "ordinal","GB" }}</date>
            <div class="image-block">
                <div class="clip-wrap">
                
                <a class="" href="{{ post.url }}">
                    <img src="{{ post.image }}" alt=""/>
                </a>
                </div>
                </div>
            <p>{{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 15 | escape}}</p>
            <a class="link" href="{{ post.url }}">Read more<span class="sr-only">: {{ post.title }}</span></a>
        </div>
        {% endfor %} 
    </article>
    </div>
    </div>
    </div>
    </div>