<div style="clear: both;"></div>
<div class="alert alert-info">
    <h3 id="inspirechallenge">Region Inspire challenge project</h3>
    <p>The opportunity to be part of a county and region level project to create an adventurous challenge, highlighting the best parts of Hertfordshire and Anglia region, is open to our Inspire aged members (18-30), Queen's Guide award participants etc.</p>
    <p>If you would like to be part of a working team, meeting about once a month, to create and test challenges around the county and beyond, aimed at Rangers, young leaders, Inspire, adult volunteers and Trefoil Guild members, please contact <a href="mailto:inspirechallenge@girlguiding-anglia.org.uk" class="alert-link">inspirechallenge@girlguiding-anglia.org.uk</a>.</p>
</div>