<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-3 bg bg-primary text-center">
            <img src="/assets/images/2023/03/gg-anglia-logo.webp" class="img-fluid" alt="Girlguiding Anglia"/>
        </div>
        <div class="col-md-9 p-3">
            <h2 class="card-title">Travelling abroad tea party</h2>
            <p class="card-text">There are many myths around taking girls abroad, and many people assume they could not do it, but maybe you are just the person we are looking for!</p>
            <p class="card-text">Come along on Sunday 14 May from 2.30-4.30pm and join us in Ely for a chat over tea and cake to find out if you could lead an international trip.</p>
            <p class="card-text">If you would like to attend, let us know by Monday 1 May.  See the attached flyer for more information and how to book your place.</p>
            <p class="card-text">Interested, but can't make the day, then contact your county international lead volunteer and request an expression of interest form</p>
            <a href="/assets/docs/2023/international-tea-party-flyer.pdf" class="download-link btn btn-primary" target="_blank" rel="noopener">Tea party details</a>
            <hr>
            <h2 class="card-title">International volunteer opportunities<br/>
            <small class="text-muted">- expression of interest for leaders</small></h2>
            <p class="card-text">As we work to rebuild our international offer, we are having to recognise both the need to rebuild confidence in the girls and their parents, with regards to travelling abroad, as well as the impact of the experience lost because of the pandemic:  girls may never have been on a unit camp, a school trip, or even a family holiday overseas.  Equally important, is ensuring we have leaders who are able to help our girls to explore the world.</p>
            <p class="card-text">We are planning to pull together a database of leaders who might be interested in an international event, whether at region, county, division, district, or unit level.  GO gives us details of leaders&lsquo; qualifications, but not necessarily their interests. </p>
            <p class="card-text">Although some events might have an upper age limit, many do not and we are therefore looking for leaders of all ages. </p>
            <p class="card-text">The requisite going away with qualifications are handy but not essential if you are part of a leadership team.  Leaders from all sections are welcome.  You don&lsquo;t even need to be a keen camper, as there are plenty of events which do not involve tents.</p>
            <p class="card-text">Expressing an interest does not guarantee you a trip and neither does it commit you to anything.  What it will do is enable all of us across Girlguiding Anglia to be aware of leaders who might be interested and available, to enable us to make plans for 2024-2026.</p>
            <p class="card-text">If you would like to be added to our database, please complete the form below and e-mail it to <a href="mailto:international@girlguiding-anglia.org.uk">international@girlguiding-anglia.org.uk</a>  Should you wish to be removed from that list at any time simply send another e-mail to that address.</p>
            <a href="/assets/docs/2023/expression-of-interest-for-leaders.docx" class="download-link btn btn-primary" target="_blank" rel="noopener">Expression of interest form</a>
        </div>
    </div>
</div>
 

 





