<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-3 bg bg-primary text-center">
            <img src="/assets/images/2023/03/gg-anglia-logo.webp" class="img-fluid" alt="Girlguiding Anglia"/>
        </div>
        <div class="col-md-9 p-3">
            <h3 class="card-title">Leaders international opportunities selection (IntOpps) event - applications open!</h3>
            <p class="card-text">Applications are now open for the <strong>leaders IntOpps event</strong> taking place on <strong>Friday 17 - Sunday 19 April 2026.</strong></p>
            <p class="card-text">Your chance to plan and lead an unforgettable overseas adventures with Girlguiding Anglia in 2027 or 2028, taking a group of girls on a life changing international experience.</p>
            <p class="card-text">Complete the application form and email it to <a href="mailto:international@girlguiding-anglia.org.uk">international@girlguiding-anglia.org.uk</a> <strong>before 26 February 2026.</strong></p>
            
            <a href="https://www.girlguiding-anglia.org.uk/download/adult-international-application-form" class="external-link btn btn-primary" target="_blank" rel="noopener">Download application form</a>
        </div>
    </div>
</div>
 

 





