<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4 bg-secondary text-white text-center p-2">
            <img src="/assets/images/2023/03/roverway2024.webp" class="img-fluid" alt="Roverway 2024 badge">
        </div>
        <div class="col-md-8 p-3">
            <h3 class="card-title">Roverway 2024 - Applications now open</h3>
            <p class="card-text">The next joint WAGGGS and WOSM Roverway international trip will take place in Norway in 2024.</p>

            <p class="card-text">Participants must be aged 16-22 (born between 1 August 2002 and 22 July 2008).</p>

            <p class="card-text">The event is effectively split into two halves. First, participants "rove" with their "tribe" (a group of
                patrols, all from different countries, numbering about 50 people, in total), on a "pathway" (selected
                centrally,
                and advised nearer the time), before eventually all coming together centrally, for a jamboree.</p>

            <p class="card-text">Find out more about the event and application criteria in the FAQs below.</p>

            <p class="card-text">To be considered for a place, the application form attached must be completed and returned to <a
                    href="mailto:international@girlguiding-anglia.org.uk"
                    class="alert-link">international@girlguiding-anglia.org.uk</a> by 12 May 2023. Regional selection
                will then
                take place.</p>

            <div><a href="/assets/docs/2023/roverway-faqs.pdf" class="btn btn-primary download-link">FAQs</a> <a
                    href="/assets/docs/2023/roverway-2024-application-form.docx"
                    class="btn btn-primary download-link">Application Form</a></div>
        </div>
    </div>
</div>