{% assign slides = site.data.sliders[include.slider] %}
{% if slides %}
<div id="sliderControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner bg-secondary">
        {% for slide in slides %}
        {% assign css="carousel-item" %}
        {% if forloop.first %}
        {% assign css="carousel-item active" %}
        {% endif %}
      <div class="{{ css }} text-center">
        <img src="{{slide.img}}" class="img-fluid" alt="{{slide.alt}}" loading="lazy">
        {% if slide.caption %}
        <div class="carousel-caption d-none d-md-block bg-primary start-50 py-2">
          <p class="fs-5 m-0">{{ slide.caption }}</p>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% if slides.size > 1 %}
    <button class="carousel-control-prev" type="button" data-bs-target="#sliderControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sliderControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    {% endif %}
  </div>
  {% endif %}