<h2 class="mt-3">Register to volunteer with Girlguiding as a parent</h2>

<p>All parents have access to GO, our membership system, so that they can see their daughter's details.</p>

<p>You should have received an invitation code via e-mail, if this has been lost it is possible to get sent a
    replacement.</p>
<style>
    #parentVolunteers img {
        width: 100%;
        max-width: 602px;
    }

    #parentVolunteers {
        width: 100%;
        max-width: 652px;
    }

    #parentVolunteers .carousel-inner {
        padding: 0 25px 75px;
    }

    #parentVolunteers .carousel-item {
        padding-top: 100px;
    }

    #parentVolunteers .carousel-caption {
        top: 0;
        text-align: left;
        left: 0;
        right: 0;
        bottom: auto;
        padding-bottom: 0;
        background-color: var(--gg-dark-blue);
    }

    #parentVolunteers .carousel-caption .btn-link:hover,
    #parentVolunteers .carousel-caption a:hover {
        color: white;
    }

    .gg-carousel-control-prev,
    .gg-carousel-control-next {
        position: absolute;
        bottom: 0;
        z-index: 1;
        /*width: 15%;*/
    }

    .gg-carousel-control-prev {
        left: 0;
    }

    .gg-carousel-control-next {
        right: 0
    }
</style>
<div id="parentVolunteers" class="carousel slide bg-primary" data-bs-wrap="false">
    <div class="carousel-indicators d-none d-lg-flex">
        <button type="button" data-bs-target="#parentVolunteers" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Girlguiding homepage"></button>
        <button type="button" data-bs-target="#parentVolunteers" data-bs-slide-to="1"
            aria-label="Invitation code"></button>
        <button type="button" data-bs-target="#parentVolunteers" data-bs-slide-to="2"
            aria-label="No invitation code"></button>
        <button type="button" data-bs-target="#parentVolunteers" data-bs-slide-to="3"
            aria-label="Resend invitation code"></button>
        <button type="button" data-bs-target="#parentVolunteers" data-bs-slide-to="4"
            aria-label="Redeem invitation code"></button>
        <button type="button" data-bs-target="#parentVolunteers" data-bs-slide-to="5"
            aria-label="Enter invitation code"></button>
        <button type="button" data-bs-target="#parentVolunteers" data-bs-slide-to="6" aria-label="Select name"></button>
        <button type="button" data-bs-target="#parentVolunteers" data-bs-slide-to="7"
            aria-label="Select my enquiries"></button>
        <button type="button" data-bs-target="#parentVolunteers" data-bs-slide-to="8" aria-label="Find a unit"></button>
        <button type="button" data-bs-target="#parentVolunteers" data-bs-slide-to="9"
            aria-label="Enter enquiries"></button>
        <button type="button" data-bs-target="#parentVolunteers" data-bs-slide-to="10"
            aria-label="Submit enquiry"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/images/volunteer/1-sign-in.jpg" class="d-block w-100" alt="GO homepage">
            <div class="carousel-caption">
                <h3>Girlguiding home page</h3>
                <p>Go to <a href="https://go.girlguiding.org.uk" class="external-link" rel="noopener"
                        target="_blank">go.girlguiding.org.uk</a> and click on 'Sign in'</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/volunteer/1-sign-in.jpg" class="d-block w-100 opacity-50" alt="GO homepage">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col"><button class="btn btn-primary" data-bs-target="#parentVolunteers"
                            data-bs-slide-to="4">I have an invitation code</button></div>
                    <div class="col"><button class="btn btn-primary" data-bs-target="#parentVolunteers"
                            data-bs-slide-to="2">I don't have a code</button></div>

                </div>

            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/volunteer/4-no-invitation-code.jpg" class="d-block w-100"
                alt="Get an invitation code">
            <div class="carousel-caption">
                <h3>No invitation code?</h3>
                <p>Click on 'Don't have a login'</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/volunteer/5-resend-invitation-code.jpg" class="d-block w-100"
                alt="Resend invitation code">
            <div class="carousel-caption">
                <h3>Enter your email address</h3>
                <p>NB must be the once you used to register your daughter &ndash; and &lsquo;Submit&rsquo;.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/volunteer/2-redeem-invitation.jpg" class="d-block w-100"
                alt="Redeem invitation tab">
            <div class="carousel-caption">
                <h3>Click on 'Redeem invitation'</h3>
                <p class="d-none d-md-block">No invitation code? <button class="btn btn-link"
                        data-bs-target="#parentVolunteers" data-bs-slide-to="2">Resend your invitation</button></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/volunteer/3-dob.jpg" class="d-block w-100" alt="Sign-up with invitation screen">
            <div class="carousel-caption">
                <h3>Enter invitation code</h3>
                <p>Then add your Date of Birth and click 'Register'</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/volunteer/6-select-name.jpg" class="d-block w-100" alt="Select name">
            <div class="carousel-caption">
                <h3>Now you are logged in</h3>
                <p>Select your name</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/volunteer/7-my-enquiries.jpg" class="d-block w-100" alt="Drop down menu display">
            <div class="carousel-caption">
                <h3>Select 'My enquiries' from the drop down menu</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/volunteer/8-volunteer.jpg" class="d-block w-100" alt="Volunteer in new area">
            <div class="carousel-caption">
                <h3>Click on 'Volunteer in new area'</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/volunteer/9-details.jpg" class="d-block w-100" alt="Complete your details">
            <div class="carousel-caption">
                <h3>Complete your details</h3>
                <ol>
                    <li>Enter your postcode</li>
                    <li>Select section you're interested in</li>
                    <li>Search</li>
                    <li>Choose the unit you want to volunteer with.</li>
                </ol>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/volunteer/10-submit.jpg" class="d-block w-100" alt="Submit your enquiry">
            <div class="carousel-caption">
                <h3>Submit your enquiry</h3>
                <ol>
                    <li>Unit name appears in selection box</li>
                    <li>Submit</li>
                </ol>
                <p>You should receive an enquiry number - make a note of this.</p>
            </div>
        </div>
    </div>
    <button class="btn btn-primary gg-carousel-control-prev d-none" type="button" data-bs-target="#parentVolunteers"
        data-bs-slide="prev">
        <span class="">Previous</span>
    </button>
    <button class="btn btn-primary gg-carousel-control-next" type="button" data-bs-target="#parentVolunteers"
        data-bs-slide="next">
        <span class="">Next</span>
    </button>
</div>
<script>
    (function () {
        const carousel = document.getElementById('parentVolunteers');
        const prevBtn = carousel.querySelectorAll('.gg-carousel-control-prev')[0];
        const nextBtn = carousel.querySelectorAll('.gg-carousel-control-next')[0];
        carousel.addEventListener('slide.bs.carousel', event => {
            if (event.to > 0) {
                prevBtn.classList.remove("d-none");
            }
            if (event.to === 0) {
                prevBtn.classList.add("d-none");
            }
            if (event.to === 10) {
                nextBtn.classList.add("d-none");
            }
            if (event.to <10){
                nextBtn.classList.remove("d-none");
            }
        });
    })();
</script>