<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-3 bg bg-primary text-center">
            <img src="/assets/images/2023/06/meeting-offer.webp" class="img-fluid" alt="Inspire"/>
        </div>
        <div class="col-md-9 p-3">
            <h2 class="card-title">Unit meeting visits - Inspire and Queen's Guide award</h2>
            <p class="card-text">Our county lead volunteers for Inspire and the Queen's Guide award are keen to visit your units to meet you and the girls.</p>
            <p class="card-text">They would like to find out more about what Rangers and young leaders want from Girlguiding when they turn 18 to ensure the inspire community, for ages 18-30, remains relevant and interesting.</p>
            <p class="card-text">In addition, any units with Rangers and young leaders who may be interested in the Queen's Guide award are encouraged to contact our Queen's Guide award coordination lead volunteer to come along to their unit meeting and talk to the girls about the award and recent changes.</p>
            <p class="card-text">Please contact our lead volunteers on <a href="mailto:inspire@girlguidinghertfordshire.org.uk">inspire@girlguidinghertfordshire.org.uk</a> or <a href="mailto:queensguide@girlguidinghertfordshire.org.uk">queensguide@girlguidinghertfordshire.org.uk</a> to arrange a visit, either virtually or in person.</p>
            <p class="card-text">Any leaders falling into the 18-30 age bracket who would like to discuss what is in store for Inspire Hertfordshire are encouraged to email the county Inspire coordination lead volunteer.</p>
            <p class="card-text">If you are a leader who falls just outside the 30 bracket (aged 31-32) but are interested in being involved in the Inspire community please let our county Inspire coordination lead volunteer know.</p>
            
        </div>
    </div>
</div>
 