.line {
    background-color: var(--gg-light-blue);
    height: 10px;
    left: 0;
    position: relative;
    top: 0;
    width: 98%;
    margin-bottom: 25px;
}
.team-line {
    margin-bottom: 30px;
    margin-top: 66px;
}