.post-section {
    clear: both;
    padding: 40px 0 65px;
    h2 {
        color: white;
    }
    h3 a {
        color: var(--bs-black);
        margin: 20px 0 25px;
        display: block;
        text-decoration: none; 
        &:hover,&:focus{ text-decoration: underline;}
    }
    .card {
        background: var(--bs-white);
        border-radius: 30px;
        .card-img-top {
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
        }
    }
}
