.carousel {
    max-width: 100%;
    clear:both;
    margin: 0.5rem auto;
}
@media (min-width: $grid-md-min){
    .carousel {
        &.w-md-50 {
            width: 50%;
        }
        &.w-md-75 {
            width: 75%;
        }
    }
}
@media (min-width: $grid-lg-min){
    .carousel{
        &.w-lg-33 {
        width: 33%;
        }
        &.w-lg-50 {
            width: 50%;
        }
    }
}
@media (min-width: $grid-xl-min){
    .carousel{
        &.w-xl-33 {
        width: 33%;
        }
        &.w-xl-50 {
            width: 50%;
        }
    }
}