@use "../1_base/breakpoints" as bp;
/* styles specific to the badge form page */
@media (max-width: bp.$grid-xxl-min) {
    #awardRecipients {

        .form-label,
        .form-check-label {
            margin-bottom: 0.1rem;
            font-weight: bold;
            font-size: 0.8rem;
        }
    }
}

@media (min-width: bp.$grid-lg-min) {

    #awardRecipients {
        .row:not(:first-child) .form-label {
            position: absolute;
            left: -2000px;
        }

        .form-check-label {
            display: block;
            margin-top: 0.3rem;
        }

        .form-check {
            padding-left: 0;
            text-align: center;

            .form-check-input {
                float: none;
                margin: 0;
            }
        }

    }
}