// styles for challenge badge page
.badges .content { 
    h2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background: var(--gg-dark-blue);
        color: white;
        text-align: center;
        clear: both;
        &#external-charity-badges {
            background-color: var(--gg-light-blue);
        }
    }
    img { 
        max-width: 100%;
    }
}