@use "../1_base/breakpoints" as bp;
// Styles for the Platinum Jubilee templates
.gg-jubilee-nav .page-item {
    .page-link {
        font-size: 0.7rem;
        padding: 0.375rem 0.5rem;
        color: var(--gg-dark-blue);
    }
    &.active .page-link {
        background-color: var(--gg-dark-blue);
        border-color: var(--gg-dark-blue);
        color: white;
    }
}
#videos {
    &.nav-tabs .nav-link {
        font-size: 0.7rem;
        padding: 0.4rem;
        color: var(--gg-dark-blue);
        border-color: var(--gg-light-blue);
        border-bottom-color: white;
        &.active {
            background-color: var(--gg-light-blue);
            border-color: var(--gg-dark-blue);
            border-bottom-color: var(--gg-light-blue);
        }
    }
}
@media (min-width: bp.$grid-md-min) {
    .gg-jubilee-nav .page-item .page-link {
        font-size: 0.9rem;
    }
    #videos {
        &.nav-tabs .nav-link {
            font-size: 0.9rem;
        }
    }
}
@media (min-width: bp.$grid-lg-min) {
    .gg-jubilee-nav .page-item .page-link {
        font-size: 0.9rem;
        padding: 0.375rem 0.75rem;
    }  
    #videos {
        &.nav-tabs .nav-link {
            font-size: 1rem;
        }
    }  
}
@media (min-width: bp.$grid-xl-min) {
    .gg-jubilee-nav .page-item .page-link {
        font-size: 1rem;
    }
}