// styles for challenge badge page
.challenge-badges .content { 
    h2 {
        border-top: 3px solid $gg-pink;
        padding-top: 1rem;
        margin-top: 1rem;
        &:first-of-type {
            border-top: none;
            padding-top: 0;
        }
    }
    img { 
        max-width: 100%;
    }
}