---
layout: default-v5
---

{% include banner.html %}
<div class="main-content event-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
                        {% if page.age %}
                        <li class="breadcrumb-item"><a class="bread-link" href="/events/" title="Events">{{ page.title
                                }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ page.age }}</li>
                        {% else %}
                        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% if page.type == "training" %}
        {% assign eventlist = site.trainingevents | sort: "event.start_date" %}
        {% else %}
        {% if page.age == "Rainbows" %}
        {% assign eventlist = site.events | where: "event.age-group","Rainbows" %}
        {% elsif page.age == "Brownies" %}
        {% assign eventlist = site.events | where: "event.age-group","Brownies" %}
        {% elsif page.age == "Guides" %}
        {% assign eventlist = site.events | where: "event.age-group","Guides" %}
        {% elsif page.age == "Rangers" %}
        {% assign eventlist = site.events | where: "event.age-group","Rangers" | where: "event.age-group","Young
        Leaders" %}
        {% assign eventlist = site.events | where: "event.age-group","Young Leaders" | concat: eventlist | uniq %}
        {% elsif page.age == "Adults" %}
        {% assign eventlist = site.events | where: "event.age-group","Adults" %}
        {% assign eventlist = site.events | where: "event.age-group","Leaders" | concat: eventlist | uniq %}
        {% assign eventlist = site.events | where: "event.age-group","Trefoil" | concat: eventlist | uniq %}
        {% else %}
        {% assign eventlist = site.events %}
        {% endif %}
        {% endif %}
        {% assign events = eventlist | sort: "event.start_date" %}
        {% assign today = 'now' | date: '%s' | plus: 0 %}
        <div class="fluid-wrapper"></div>
        <div class="row">

            <div class="col-md-8 col-xxl-10">
                <div>
                    <h1>{{ page.title }}</h1>
                    <div class="filter-list pb-4" data-type="events">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-4">
                            {% for event in events %}
                            {% assign startDate = event.event.start_date | date: '%s' | plus: 0 %}
                            {% assign endDate = event.event.end_date | date: '%s' | plus: 0 %}
                            {% if endDate>0 and endDate>= today %}
                            {% assign showEvent=true %}
                            {% elsif startDate > today %}
                            {% assign showEvent=true %}
                            {% else %}
                            {% assign showEvent=false %}
                            {% endif %}
                            {% if showEvent %}
                            <div class="col" data-type="|{{ event.event.type | join: '|'}}|"
                                data-age-group="|{{ event.event.age-group | join: '|'}}|"
                                data-location="|{{ event.event.location | join: '|'}}|">
                                <div class="card gg-event-card h-100">
                                    <figure style="background-image: url('{{ event.event.image}}');"
                                        class="card-img-top">
                                        <img src="{{ event.event.image }}" alt="">
                                        <div class="pattern-one" style="background-color: rgba(78,136,199, 0.85);">
                                        </div>
                                    </figure>
                                    <div class="card-body">
                                        <div class="card-text">
                                            {% for type in event.event.type %}
                                            {% unless type == "Training" %}
                                            {% include eventtypes.html type=type %}
                                            {% endunless %}
                                            {% endfor %}
                                        </div>
                                        <h2 class="card-title"><a href="{{ event.url }}">{{ event.title }}</a></h2>
                                        <time class="card-text">{{ event.event.start_date | date: "%d %b %Y" }}
                                            {% if event.event.end_date != '' and event.event.start_date !=
                                            event.event.end_date %}
                                            - {{ event.event.end_date | date: "%d %b %Y" }}
                                            {% endif %}</time>
                                        <div class="card-text">
                                            <p>{{ event.event.location | join: ', ' }}</p>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-white text-end border-top-0">
                                        <a href="{{ event.url }}" class="btn btn-primary"><span>More
                                                details</span><span class="sr-only">: {{ event.title
                                                }}</span></a>
                                    </div>
                                </div>

                            </div>
                            {% endif %}
                            {% endfor %}
                            {% if page.type == "training" %}
                            <div class="col">
                                <div class="card gg-event-card h-100">
                                    <figure style="background-image: url('/assets/images/2023/03/first-aid-events.webp');"
                                        class="card-img-top">
                                        <img src="/assets/images/2023/03/first-aid-events.webp" alt="">
                                    </figure>
                                    <div class="card-body">
                                        <h2 class="card-title"><a href="/news/external-first-aid-courses/">External
                                                first aid courses</a></h2>
                                        <div class="card-text">
                                            <p>How to use external first aid training in your Girlguiding role</p>
                                            <div class="clearfix"><a class="btn btn-primary pull-right"
                                                    href="/news/external-first-aid-courses/"><span>Read more</span></a>
                                            </div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card gg-event-card h-100">
                                    <figure
                                        style="background-image: url('/assets/images/2023/03/a-safe-space.webp');"
                                        class="card-img-top">
                                        <img src="/assets/images/2023/03/a-safe-space.webp" alt="">
                                    </figure>
                                    <div class="card-body">
                                        <h2 class="card-title"><a href="/news/a-safe-space-training/">A safe space
                                                training</a></h2>
                                        <div class="card-text">
                                            <p>Essential guidance and how to book your training.</p>
                                            <div class="clearfix"><a class="btn btn-primary pull-right"
                                                    href="/news/a-safe-space-training/"><span>Read more</span></a></div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card gg-event-card h-100">
                                    <figure
                                        style="background-image: url('/wp-content/uploads/2021/03/Training-badges-1-360x243.png');"
                                        class="card-img-top">
                                        <img src="/wp-content/uploads/2021/03/Training-badges-1-360x243.png" alt="">
                                    </figure>
                                    <div class="card-body">
                                        <h2 class="card-title"><a href="/training-badges/">Training Badges</a></h2>
                                        <div class="card-text">
                                            <p>Log your training hours to claim a pin badge when you reach milestones.
                                            </p>
                                            <div class="clearfix"><a class="btn btn-primary pull-right"
                                                    href="/training-badges/"><span>Read more</span></a></div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xxl-2 order-first">
                <div class="filter-result">
                    <div class="filter-summary">
                        <h4>Filter results</h4>
                        <div class="d-md-none small js-selected-filters"></div>
                    </div>
                    {% assign all_types= '' | split: '' %}
                    {% assign all_ages = '' | split: '' %}
                    {% assign all_locations = '' | split: '' %}
                    {% for event in eventlist %}

                    {% assign startDate = event.event.start_date | date: '%s' | plus: 0 %}
                    {% if startDate> today %}
                    {% for t in event.event.type %}
                    {% if all_types contains t %}
                    {% else %}
                    {% assign tName = t | split: '_' %}
                    {% assign all_types = all_types | concat: tName %}
                    {% endif %}
                    {% endfor %}
                    {% for a in event.event.age-group %}
                    {% if all_ages contains a %}
                    {% else %}
                    {% assign aName = a | split: '_' %}
                    {% assign all_ages = all_ages | concat: aName %}
                    {% endif %}
                    {% endfor %}
                    {% for l in event.event.location %}
                    {% if all_locations contains l %}
                    {% else %}
                    {% assign lName = l | split: '_' %}
                    {% assign all_locations = all_locations | concat: lName %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    <div class="filter-options">
                        <div class=" row row-cols-2 row-cols-md-1">
                            <div class="col">
                                <h5>Type</h5>
                                <ul class="division type">
                                    {% for type in all_types %}
                                    {% unless page.type=="training" and type=="Training" %}
                                    <li><input type="checkbox" name="{{ type | slugify }}"
                                            id="division_filter_{{ type | slugify }}" value="{{ type }}" /><label
                                            for="division_filter_{{ type | slugify }}">{% include
                                            eventtypes.html type=type %}</label></li>
                                    {% endunless %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col">
                                <h5>Section</h5>
                                {% assign sections = "Rainbows,Brownies,Guides,Rangers,Young
                                Leaders,Inspire,Adults,Leaders,Trefoil" | split:"," %}
                                <ul class="division age">
                                    {% for section in sections %}
                                    {% if all_ages contains section %}
                                    <li><input type="checkbox" name="{{section | slugify }}"" id=" age_filter_{{ section
                                            | slugify }}" value="{{ section }}" />
                                        <label for="age_filter_{{ section | slugify }}">{{ section }}</label>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-12">
                                <h5>Location</h5>
                                <ul class="division location">
                                    {% assign herts = "Hertfordshire" | split: "_" %}
                                    {% assign all_locations = all_locations | concat: herts | uniq %}
                                    {% assign sortedLocations = all_locations | sort_natural %}
                                    {% assign prvLoc = '' %}
                                    {% assign isIndented = false %}
                                    {% for location in sortedLocations %}
                                    {% assign parent = location | split: ',' | first %}
                                    {% assign child = location | split: ',' | last %}
                                    {% if parent == prvLoc %}
                                    {% unless isIndented %}
                                    <ul>
                                        {% assign isIndented = true %}
                                        {% endunless %}
                                        {% else %}
                                        {% assign prvLoc = parent %}
                                        {% if isIndented %}
                                    </ul>
                                    {% assign isIndented = false %}
                                    {% endif %}
                                    {% unless prvLoc=='' %}
                                    </li>
                                    {% endunless %}
                                    {% endif %}
                                    <li><input type="checkbox" id="location-filter-{{location | slugify }}"
                                            name="{{ location | slugify }}" value="{{ location }}" /><label
                                            for="location-filter-{{location | slugify }}">{{ child }} </label>
                                        {% if isIndented %}
                                    </li>{% endif %}
                                    {% endfor %}
                                    {% if isIndented %}
                                </ul>
                                {%endif %}
                                </li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-secondary d-block d-md-none w-100" type="button"
                            id="filterClose"><i class="fa fa-caret-up"></i> Close <i
                                class="fa fa-caret-up"></i></button>
                    </div>

                </div>
                <div class="row row-cols-2 row-cols-1-md gy-2">
                    <div class="col col-md-12">
                        <a href="/assets/docs/2023/2023-05-events-and-training-list1.pdf" class="btn btn-sm btn-primary d-block" target="_blank" rel="noopener">Printable events and training list <i
                                class="fa fa-print"></i></a>
                    </div>
                    <div class="col col-md-12">
                        <a href="/events/calendar/" class="btn btn-sm btn-primary d-block">County Event<br />Calendar <i
                                class="fa fa-calendar"></i></a>
                    </div>
                    <div class="col col-md-12">
                        <a href="https://www.girlguiding-anglia.org.uk/region-and-county-calendar" target="_blank"
                            class="btn btn-sm btn-primary d-block" rel="noopener">Anglia Region<br />Event Calendar <i
                                class="fa fa-external-link"></i></a>
                    </div>
                </div>


            </div>
        </div>
    </div>
    {% include noticeboard-footer-v5.html %}
</div>