---
layout: default-v5
---
{% include banner.html %}
<div class="main-content {{ page.title | slugify }}">
    <div class="container">
        {% include breadcrumbs.html %}
        <div class="row">
            <div class="col-lg-8 col-xxl-10 order-lg-2 content">
                <h1>{{ page.title }}</h1>
                <div class="filter-block">
                    <ul class="category row row-cols-1 row-cols-md-2 row-cols-xl-3 list-unstyled">
                        {% for cat in site.categories %}
                        <li class="col"><span><input type="checkbox" name="{{cat[0] |slugify}}" id="cat-filter-{{cat[0] |slugify}}" value="{{cat[0]}}" checked /><label for="cat-filter-{{cat[0] |slugify}}">{{cat[0]}}</label></span><span class="badge bg-primary rounded-pill">{{ cat[1].size }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="filter-list pb-4" data-type="news">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-4">
                        {% for post in site.posts %}
                        <div class="col" data-type="|{{ post.categories | join:'|'}}|"
                            data-month="{{post.date | date: '%Y %b'}}">
                            <div class="card gg-news-card h-100 border-primary">
                                <h2 class="card-header border-bottom-0 bg-white">{{post.title}}</h2>
                                <div class="card-body pt-1 pb-2 flex-grow-0"><time class="card-text">{{ post.date | date_to_string:
                                        "ordinal","GB" }}</time>
                                </div>
                                {% assign img = "/assets/images/core/brand-background.webp" %}
                                {% if post.image %}
                                {% assign img = post.image %}
                                {% endif %}
                                <img src="{{ img }}" alt="" class="card-img">
                                <div class="card-body">
                                    <div class="card-text">
                                        <p>{{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 20 |
                                            escape }}</p>
                                    </div>
                                </div>
                                <div class="card-footer border-top-0 bg-white text-end">
                                    <a class="btn btn-primary stretched-link" href="{{ post.url }}"><span>Read more</span></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xxl-2">
                <nav class="gg-left-menu" aria-label="Site navigation">
                    <h2><a href="{{ menu.url }}">{{ menu.title }}</a></h2>
                    <ul class="nav flex-column">
                        {% for item in menu.items %}
                        {% assign linkClass="nav-link" %}{% if item.url==page.url %}{% assign linkClass="nav-link
                        active"%}{% endif %}
                        <li class="nav-item"><a href="{{ item.url}}" class="{{ linkClass }}" {%if item.url==page.url %}
                                aria-current="page" {% endif %}>{{ item.title }}</a>{% if item.items %}<ul>
                                {% for childItem in item.items %}<li {% if item.url==page.url %}
                                    class="current_page_item" {% endif %}><a href="{{ childItem.url}}" {%if
                                        childItem.url==page.url %} aria-current="page" {% endif %}>{{ childItem.title
                                        }}</a></li>{% endfor %} </ul>{% endif %}</li>
                        {% endfor %}
                    </ul>

                    {% if page.advertId != '' %}
                    {% for advert in site.adverts %}
                    {% if advert.advertId == page.advertId %}
                    <a href="{{ advert.advert_url }}">
                        <div class="promo-block">
                            <div class="promo-description">
                                <h3>{{ advert.advert_title }}</h3>
                                <p>{{ advert.advert_description }}</p>
                            </div>
                        </div>
                    </a>
                    {% break %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </nav>

            </div>
        </div>
    </div>
    {% include latest-events-v5.html %}
</div>