---
layout: default
---
{% include banner.html %}
<div class="main-content news-listing">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="breadcrumb">
                    <ul>
                        <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
                        <li class="item-cat item-custom-post-type-post"><a class="bread-cat bread-custom-post-type-post" href="/news/" title="Posts">News</a></li>
                        <li class="item-current item-4320 active">{{ page.title }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-offset-1 pull-right">
                <h1>Latest News</h1>
                <div class="post-list">
                    <div class="row">
                        {% for post in site.posts  %}
                        <div class="col-sm-6">
                            <div class="listing-block" data-categories="|{{post.categories | join: '|'}}|" data-month="{{post.date | date: '%Y %b'}}">
                                <div class="line"></div>
                                <h2>{{ post.title }}</h2>
                                <date>{{ post.date | date_to_string: "ordinal","GB" }}</date>
                                <a class="svg-link" href="{{ post.url }}">
                                    <svg viewBox="0 0 370 248" preserveAspectRatio="xMinYMin none">
                                    <defs>
                                    <path fill="none" id="thePath" d="M27.091,3.179c108.336,0,216.671,0,325.006,0
                                                         c19.598-0.561,14.863,32.351,14.863,54.498c0,38.943,0,72.401,0,110.978c0,15.079,3.048,43.848-2.972,51.525
                                                         c-5.113,6.52-28.935,7.172-41.617,7.927c-42.936,2.555-85.858,5.303-128.791,7.902c-42.443,2.566-84.88,5.272-127.339,7.504
                                                         c-11.75,0.616-23.484,1.512-35.231,2.128c-5.633,0.296-11.188,0.168-16.805,0.826c-2.944,0.347-5.982,0.854-8.927,0.256
                                                         c-5.252-1.069-3.95-5.16-3.95-9.699c3.032-49.701,3.408-115.548,5.945-171.42C8.443,39.86,1.684,1.731,27.091,3.179z"></path>
                                    </defs>
                                    <clipPath id="cloudClip">
                                    <use xlink:href="#thePath"></use>
                                    </clipPath>
                                    <image clip-path="url(#cloudClip)" width="370px" height="248px" xlink:href="{{ post.image }}"></image>
                                    </svg>
                                </a>
                                <p>{{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 30 | escape }}</p>
                                    <div><a class="btn btn-pink" href="{{ post.url }}"><span>Read more</span></a></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="left-sidebar">
                    <h2>Filter results</h2>
                    <h3>Category</h3>
                    <ul class="category">
                        {% for cat in site.categories %}
                        <li><input type="checkbox" name="{{cat[0] |slugify}}" id="cat-filter-{{cat[0] |slugify}}" value="{{cat[0]}}" /><label for="cat-filter-{{cat[0] |slugify}}">{{cat[0]}}</label></li>
                        {% endfor %}
                    </ul>
                    <div class="archive-select">
                    <h3>Archives</h3>
                    <ul class="archive">
                        {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
                        {% for yearMonth in postsByYearMonth limit: 5 %}
                        <li><input type="radio" name="archive-month" id="date-filter-{{yearMonth.name}}" value="{{yearMonth.name}}" class="archive-option"><label for="date-filter-{{yearMonth.name}}">{{yearMonth.name}}</label></li>
                        {%endfor%}
                        {% if postsByYearMonth.size > 5 %}
                        <li>
                            <div class="dropdown">
                                <button id="archive-dd" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select previous months <span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="archive-dd">
                                    {% for yearMonth in postsByYearMonth offset: continue %}
                                    <li><input type="radio" name="archive-month" id="date-filter-{{yearMonth.name}}" value="{{yearMonth.name}}" class="archive-option"><label for="date-filter-{{yearMonth.name}}">{{yearMonth.name}}</label></li>
{%endfor %}
                                </ul>
                            </div>
                           </li>
{% endif %}
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include latest-events.html %}
<script type="text/javascript">
(function($){
    var filterPosts = function(){
        $(".post-list .col-sm-6").hide();
        var $cats=$(".category input:checked");
        var $date=$(".archive input:checked");
        $(".listing-block").each(function(index,obj){
            var showBlock=true;
            var categories=$(this).data("categories");
            $cats.each(function(index,obj){
                console.log($(this).val() + categories + categories.indexOf("|" + $(this).val() + "|"));
                if (categories.indexOf("|" + $(this).val() + "|")<0){
                    showBlock=false;
                }
            });
            var date=$(this).data("month");
            console.log($date[0].value + " !=== " + date);
            if ($date.length>0 && $date[0].value!==date){
                showBlock=false;
            }
            if (showBlock){
                $(this).parent().show();
            }
        });
    }
    $(document).ready(function(){
 $(".category input").on("change",function(event){
     //event.cancelBubble();
     console.log(this);
     filterPosts();
 });
 $(".archive-select input,.archive-select select").on("change", function(event){
     //event.cancelBubble();
     console.log($(this).val());
     filterPosts();
 });
});
})(jQuery);

</script>