---
layout: default-v5
---
{% include banner.html %}
<div class="main-content {{ page.title | slugify }}">
    <div class="container">
        {% include breadcrumbs.html %}
        <div class="row">
            <div class="col-lg-8 col-xxl-10 order-lg-2 content">
                <h1>{{ page.title }}</h1>
                <fieldset class="filter-block">
                    <legend>Filter:</legend>
                    <ul class="category row row-cols-1 row-cols-md-2 row-cols-xl-3 list-unstyled">
                        {% assign categories = site.categories | sort %}
                        {% for cat in categories %}
                        <li class="col"><span><input type="checkbox" name="{{cat[0] |slugify}}"
                                    id="cat-filter-{{cat[0] |slugify}}" value="{{cat[0]}}" /><label
                                    for="cat-filter-{{cat[0] |slugify}}">{{cat[0]}}</label></span><span
                                class="badge bg-primary rounded-pill">{{ cat[1].size }}</span></li>
                        {% endfor %}
                    </ul>
                </fieldset>

                <div class="filter-list pb-4" data-type="news">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-4">
                        {% for post in site.posts %}
                        <div class="col" data-type="|{{ post.categories | join:'|'}}|"
                            data-month="{{post.date | date: '%Y %b'}}">
                            <div class="card gg-news-card h-100 border-primary">
                                <h2 class="card-header border-bottom-0 bg-white">{{post.title}}</h2>
                                <div class="card-body pt-1 pb-2 flex-grow-0"><time class="card-text text-muted small">{{ post.date |
                                        date_to_string:
                                        "ordinal","GB" }}</time>
                                </div>
                                {% assign img = "/assets/images/core/brand-background.webp" %}
                                {% if post.image %}
                                {% assign img = post.image %}
                                {% endif %}
                                <img src="{{ img }}" alt="" class="card-img">
                                <div class="card-body">
                                    <div class="card-text">
                                        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 20 |
                                            escape }}{% endif %}</p>
                                    </div>
                                </div>
                                <div class="card-footer border-top-0 bg-white text-end">
                                    <a class="btn btn-primary stretched-link" href="{{ post.url }}"><span>Read
                                            more</span></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include news-menu.html %}
        </div>
    </div>
    {% include latest-events-v5.html %}
</div>