---
layout: default-v5
---

{% include banner.html %}
<div class="main-content {{ page.title | slugify }}">
    <div class="container">        
        {% include breadcrumbs.html %}
        <div class="row">
            <div class="col-md-8 col-xxl-10 order-md-2 content">
                {% unless page.hide_title %}
                <h1>{{ page.title }}</h1>
                {% endunless %}
                {{ content }}
            </div>
            <div class="col-md-4 col-lg-3 col-xxl-2">
                {% include local-navigation.html %}
                
            </div>
        </div>
    </div>
    {% if page.layout=="county_team"%}
    {% include countyteam.html %}
    {% include noticeboard-footer-v5.html %}
    {% endif %}
    {% for inc in page.includes %}
        {% case inc %}
        {% when "Events" %}
    {% include latest-events-v5.html %}
        {% when "News" %}
    {% include latest-news-v5.html %}
        {% when "Noticeboard" %}
    {% include noticeboard-footer-v5.html %}
        {% else %}
        <!-- Unknown include: {{ inc }}-->
        {% endcase %}
    {% endfor %}
</div>