---
layout: default-v5
---

{% include banner.html %}
<div class="main-content">
    <div class="container">
        {% include breadcrumbs.html %}
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
        </div>
    </div>
    {% if page.layout=="county_team"%}
    {% include countyteam.html %}
    {% endif %}
    {% if page.showMap %}
    {% include countycentre.html %}
    {% endif %}
    {% for inc in page.includes %}
        {% case inc %}
        {% when "Events" %}
    {% include latest-events.html %}
        {% when "News" %}
    {% include latest-news.html %}
        {% when "Noticeboard" %}
    {% include noticeboard-footer-v5.html %}
        {% else %}
        <!-- Unknown include: {{ inc }}-->
        {% endcase %}
    {% endfor %}
</div>