---
layout: default-v5
---

{% include banner.html %}
<div class="main-content {{ page.title | slugify }}">
    <div class="container">        
        {% include breadcrumbs.html %}
        <div class="row">
            <div class="col-md-8 col-xxl-10 order-md-2 content">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
            <div class="col-md-4 col-lg-3 col-xxl-2">
                <nav class="gg-left-menu" aria-label="Site navigation">
                    <h2><a href="{{ menu.url }}">{{ menu.title }}</a></h2>
                    <ul class="nav flex-column">
                    {% for item in menu.items %}
                    {% assign linkClass="nav-link" %}{% if item.url==page.url %}{% assign linkClass="nav-link active"%}{% endif %}
                    <li class="nav-item"><a href="{{ item.url}}" class="{{ linkClass }}"{%if item.url==page.url %} aria-current="page"{% endif %}>{{ item.title }}</a>{% if item.items %}<ul>
                        {% for childItem in item.items %}<li {% if item.url==page.url %} class="current_page_item"{% endif %}><a href="{{ childItem.url}}"{%if childItem.url==page.url %} aria-current="page"{% endif %}>{{ childItem.title }}</a></li>{% endfor %} </ul>{% endif %}</li>
                    {% endfor %}
                    </ul>
                
                    {% if page.advertId != '' %}
                    {% for advert in site.adverts %}
                        {% if advert.advertId == page.advertId %}
                            <a href="{{ advert.advert_url }}">
                                <div class="promo-block">
                                    <div class="promo-description">
                                        <h3>{{ advert.advert_title }}</h3>
                                        <p>{{ advert.advert_description }}</p>
                                    </div>
                                </div>                            
                            </a>
                            {% break %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </nav>
                
            </div>
        </div>
    </div>
    {% if page.layout=="county_team"%}
    {% include countyteam.html %}
    {% include noticeboard-footer-v5.html %}
    {% endif %}
    {% for inc in page.includes %}
        {% case inc %}
        {% when "Events" %}
    {% include latest-events-v5.html %}
        {% when "News" %}
    {% include latest-news-v5.html %}
        {% when "Noticeboard" %}
    {% include noticeboard-footer-v5.html %}
        {% else %}
        <!-- Unknown include: {{ inc }}-->
        {% endcase %}
    {% endfor %}
</div>